{% extends "partials/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Importation et Execution{% endblock %}</title>
</head>
<body>
    <h1>Mettre à jours la BD</h1>
    <form method="POST" name="execute">
        {% csrf_token %}
        <br>
        <input type="submit" name="execute" value="Update">
    </form>
    <br><br>
    <h1>Importer un fichier XLSX</h1>
    <form method="POST" enctype="multipart/form-data" name="import">
        {% csrf_token %}
        <label for="xlsx_file">Sélectionnez un fichier Excel :</label>
        <input type="file" name="xlsx_file" accept=".xlsx">
        <br><br>
        <input type="submit" name="import" value="Importer">
    </form>
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>  
    {% endif %}
</body>
</html>
{% endblock %}