{% include "partials/base.html" %}
{% include "partials/filtre.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Publications Concepts</title>
      <style type="text/css">
          table {
            border-collapse: collapse;
            width: 100%;
          }
          th, td {
            text-align: left;
            padding: 8px;
          }
          th {
            background-color: #4CAF50;
            color: white;
          }
          tr:nth-child(even) {
            background-color: #f2f2f2;
          }
      </style>
  </head>
  <body>
    <br>
      <h1>Recherche d'Ivermectin dans les essais et publications.</h1>
      {{ df_concat|safe }}
  </body>
</html>
{% endblock %}